
html{
 margin:0;
 padding:0;
 min-height: 100%;
 position:relative;
}

body{
	height: 100%;
	margin:0;
	padding: 0;
	background-image: url("images/bgphoto.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#logoIcon{
	width: 220px;
	height: 140px;
}

.aboutUsPhoto{
	width: 220px;
	height: 160px;
	border: 7px solid white;
}

.aboutUsPhoto2{
	width: 0px;
	height: 0px;
	border:none;
}


@media only screen and (max-width: 768px){
.nav-item{
	background: #8f8674;
	border-radius: 25px;
}

.nav-link{
	width: 100%;
}

}





@media only screen and (min-width: 768px){
.borderFooter{
	border-right: 1px solid #8f8674;
}}


@media only screen and (max-width: 991px){
#logoIcon{
	width: 160px;
	height: 102px;
}

.aboutUsPhoto {
	width: 160px;
	height: 110px;
	border: 5px solid white;
}

.aboutUsPhoto2{
	width: 160px;
	height: 110px;
	border: 5px solid white;
}


} 

@media only screen and (max-width: 767px){
#logoIcon{
	width: 120px;
	height: 77px;
}

.aboutUsPhoto{
	width: 0px;
	height: 0px;
	border: none;
}

.aboutUsPhoto2{
	width: 0px;
	height: 0px;
	border:none;
}

} 

.img-wrap{
	background: white;
}

.navbar-brand{
	font-size:18px;
	font-weight: 600;
}

.navbar{
	border-bottom: 1px solid white;
}

.fa-bars{
	color: white;
	font-size:40px;
}

.topmenuitem{
	color: white;
	font-size: 20px;
	margin-left: 25px;
	font-weight: 550;
	margin-right: 0;

}

h3{
	color:white;
	font-family: 'Lobster', cursive ;
	font-size: 35px;
}

h4{
	color: white;
	font-size: 'Open Sans', sans-serif;
	font-size: 30px;
}

.pageText{
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.borderSides{
	border-right: 1px solid white;
	border-left: 1px solid white;
}

.welcomeDiv{
	text-align: center;
}



ul{
	list-style-type: none;
}

.fa-mobile-alt, .fa-at{
	color: white;
	font-size: 25px;
}

.contactsText{
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 15px;
}

.page-footer{
	background-color: white;
}

.footerFont{
	color: #8f8674;
	font-family: 'Oswald', serif;
	font-size: 20px;
}

.footerFontBig{
	color: #8f8674;
	font-family: 'Oswald', serif;
	font-size: 30px;
}

.footer-content{
	border-bottom: 1px solid #8f8674;
	padding-bottom: 25px;
}

.labelsForFooter{
	color: #8f8674;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.labelsForContact{
	color: #8f8674;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.contactText{
	color:#8f8674;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.aboutUsField{
	border-radius: 25px;
	background:white;
}

.aboutUsHeader{
	color: #8f8674;
	font-family: 'Lobster', cursive ;
	font-size: 35px;
}

.aboutUsParagraph{
	color:#8f8674;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 16px;
}

.page-footer2{
position:absolute;
bottom:0;
width: 100%;
}

.btn{
	color:white;
	background-color: #8f8674;
	border-radius: 30px;
	font-family: 'Lobster';
	font-size: 17px;
}

.pictures{
	list-style: none;
}

.roundabout-holder{
	height:400px;
}

.roundabout-moveable-item {
	height: 200px;
	width: 200px;
	cursor: pointer;
}
   







